body{
    margin: 0;
}
.foodList .container{
    width: full;
    height: auto;

}
.foodList .recommended {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: flex;
    gap: 1rem;
}
.foodList .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1.5rem;
    flex-wrap: flex;
    gap: 1rem;
}
.foodList .menu button{
    background-color: black;
    color: white;
    padding: .5rem 1.5rem;
    border-radius: .8rem;
    /* margin-right: 1rem; */
}
.foodList {
    margin:2rem 1rem;
}

.foodList .container .foodDetails{
    display: flex;
    justify-content: space-around;
    flex-wrap: flex;
    margin-bottom: 1.3rem;

}

.foodList .foodDetails .dishDesc{
    width: 60%;
}
.foodList .foodDetails .dishImage{
    width: 30%;
}

.foodList .foodDetails .dishName{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.foodList .foodDetails .dishName>.vegetarian{
    border: .1rem solid green;
    width: 1rem;
    height: 1rem;
}
.foodList .foodDetails .dishName .vegetarian p{
    font-size: 28px;
    font-weight: 600 ;
    color: green;
    margin-top: -.9rem;
}

/* rating */
.foodList .foodDetails .dishName .rating{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(8, 182, 8);
    color: white;
    gap: .5rem;
    width: 2.5rem;
    height: 2rem;
    padding: 0 .5rem;
    border-radius: .5rem;
}

.foodList .star{
 width: 6rem;
 height: 3rem;
}

/* ingrdiendents */
.foodList .foodDetails .detailIngredient{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .8rem;
    line-height: .01rem;
    margin-left: .8rem;

}

.foodList .lineHeight{
    background-color: grey;
    width: .01rem;
    height: 4rem;
    margin: 0 2rem;
}

/* appliances */
.foodList .fridge{
      width: 1.6rem;
      height: 1.6rem;
      text-align: center;
}

.foodList.equipments{
    text-align: center;
}

.foodList .equipments p {
color: grey ;
}


/* description */
.foodList .foodDetails .desc{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* veiw list */
.foodList .foodDetails .detailIngredient  .veiwList{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    line-height: .1rem;
    margin-top: -.5rem;
}
.foodList .veiwList .veiw{
    color: rgb(255, 94, 0);
    margin-left: .2rem;
    line-height: .1rem;

}
.foodList .veiwList p{
    color: rgb(255, 94, 0);
    text-decoration: none;
}
a{
    text-decoration: none;
}


/* left side image */
.foodList .dishImage{
   display: flex;
   justify-content: center;
   margin-right: 2.5rem;
}
.foodList .dishImage img{
    position: absolute;
   width: 200px;
   height: 200px;
   border-radius: .3rem;
}

.foodList .add{
    position: relative;
    margin-top: 11.3rem;
    /* margin-right: 1.7rem; */
    background-color: white;
    border: 1px solid orangered;
    width: 5rem;
height: 2.1rem;
line-height: .01rem;
text-align: center;
color: rgb(248, 87, 28);
border-radius: .3rem;
cursor: pointer;
}

.foodList .add .span{
    text-align: end;
    margin-top: .5rem;
    margin-right: .3rem;
}
.foodList .add p{
 margin: .6rem;
}


/* notify section */
.foodList .notify{
    position: fixed;
    bottom: 5%;
    left: 38%;
    padding: 0 2.8rem;
    /* width: 10%; */
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: .6rem;
    z-index: 3;
}




/* responsive design */

@media (max-width: 480px) {
    .foodList {
        display: block;
        width: 100%;
        height: auto;
    }
    .foodList .dishImage img{
       width: 100px;
       height: 100px;
       border-radius: .3rem;
    }

    .foodList .notify{
        bottom: 1rem;
        left: 15%;
        padding:  0 1rem;
    }

    .foodList .recommended h1{
        font-size: 1.5rem;
    }
    .foodList .menu {
        margin: 0 1rem;
        flex-wrap: flex;
        gap: 1rem;
    }
    .foodList .menu button{
        padding: .3rem 1rem;
    }

   .dishDesc .dishName h2,  p{
       font-size: 15px;
    }
    .foodList .foodDetails .dishName .rating{
        gap: .2rem;
        width: 2rem;
        height: 1.4rem;
        padding: 0 .2rem;
        border-radius: .5rem;
    }
    
    .foodList .star{
     width: 6rem;
     height: 3rem;
    }
    .foodList .foodDetails .dishName>.vegetarian{
        border: .1rem solid green;
        width: .5rem;
        height: .5rem;
    }
    .foodList .foodDetails .dishName .vegetarian p{  
        margin-top: -1.2rem;
    }
    
    .foodList .fridge{
        width: 1rem;
        height: 1rem;
  }
  /* ingrdiendents */
.foodList .foodDetails .detailIngredient{
    gap: .2rem;
    line-height: .1rem;
}
.foodList .lineHeight{
    width: .1rem;
    height: 4rem;
    /* margin: 0 2rem; */
}

  .foodList .equipments p {
    font-size: 10px;
    }
    .foodList .add{
        margin-top: 5.3rem;
        width: 4rem;
    height: 2rem;
    }
    
    .foodList .add .span{
        text-align: end;
        margin-top: .5rem;
        margin-right: .3rem;
    }
    .foodList .add p{
     margin: .6rem;
    }
    
}